/* ! Custom Font */
@font-face {
	font-family: 'Boska';
	src: url('../fonts/Boska-Variable.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Boska';
	src: url('../fonts/Boska-VariableItalic.ttf') format('truetype');
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Switzer';
	src: url('../fonts/Switzer-Variable.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Switzer';
	src: url('../fonts/Switzer-VariableItalic.ttf') format('truetype');
	font-style: italic;
	font-display: swap;
}

/* ! Variable */
:root {
	--primary: #75ff69;
	--secondary: #1b3936;
	--primary-font: 'Boska', sans-serif;
	--secondary-font: 'Switzer', sans-serif;
}
/* ! Reset Css */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: var(--primary-font);
	background-image: url('../images/home_bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 1194px;
	margin: 0 auto;
}
.swiper-wrapper {
	transform: translate3d(375px, 0, 0);
}
/* ! Common Style */
.contact_left h2,
.testimonials_left h2 {
	color: var(--secondary);
	font-family: var(--primary-font);
	font-size: 68px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}
.contact_left p,
.testimonials_right p {
	color: var(--secondary);
	font-family: var(--secondary-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 76px;
}
/* ! Header */
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}
.navbar .nav {
	display: flex;
	align-items: center;
	gap: 54px;
}
.navbar .nav li a {
	color: #fff;
	font-family: var(--secondary-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
/* ! Hero Section */
.hero_section_area {
	padding: 120px 0px 172px;
	position: relative;
}
.hero_section_area img {
	position: absolute;
	top: -135px;
	width: 1188px;
	height: 1188px;
	rotate: 11.9deg;
	z-index: 1;
}
.hero_section {
	max-width: 1070px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.title_area h1 {
	color: #fff;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 262px;
	font-style: normal;
	font-weight: 400;
	line-height: 161.765px;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 50px;
}
.title_area h1 span {
	color: var(--primary);
	font-style: italic;
	line-height: 185.553px;
	margin-top: 46px;
	margin-left: 410px;
}
.title_area h1 .small_text {
	font-size: 32px;
	line-height: 42px;
	font-weight: 700;
	color: #fff;
	margin-top: 28px;
	margin-left: 253px;
}
.title_area h1 .woods_text {
	margin-left: 48px;
}
.hero_section p {
	max-width: 570px;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	font-family: var(--secondary-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.play_icon_wrap {
	width: 82px;
	position: absolute;
	right: -8.5%;
	top: 46%;
	height: 82px;
	border-radius: 82px;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}
.play_icon_wrap .play_icon {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background-color: var(--primary);
	position: relative;
}
.play_icon_wrap .play_icon img {
	width: 17px;
	height: 23px;
	position: absolute;
	top: 50%;
	left: 50%;
	rotate: 0deg;
	transform: translate(-50%, -50%);
}
/* ! Info Section */
.info_section_wrap {
	padding: 107px 0px 125px;
	background-color: #fff;
	margin-top: -10px;
	position: relative;
	z-index: 2;
}
.info_section {
	display: flex;
	justify-content: space-between;
}
/* ! Info Section */
.info_image {
	position: relative;
	margin-bottom: 40px;
	width: 203px;
}
.tree_wrap {
	width: 170px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.tree_tow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tree_wrap h2 {
	color: var(--secondary);
	font-family: var(--primary-font);
	font-size: 151.773px;
	font-style: italic;
	font-weight: 400;
	line-height: 107.621px;
	margin-top: -35px;
}
.info_left p {
	max-width: 609px;
	width: 100%;
	color: var(--secondary);
	font-family: var(--secondary-font);
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}
.info_right {
	display: flex;
	flex-direction: column;
	gap: 104px;
}
.info_right .info_card {
	color: var(--secondary);
	font-family: var(--secondary-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.info_right .info_card h2 {
	color: var(--secondary);
	font-family: var(--primary-font);
	font-size: 100px;
	font-weight: 700;
	line-height: 130px;
	margin-top: -30px;
}
.info_right .info_card h2 span {
	color: var(--secondary);
	font-family: var(--secondary-font);
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}
.nature_section img {
	width: 100%;
}
/* ! Testimonials Area */
.testimonials_section_area {
	background-color: #f9f9f9;
	padding: 70px 0px 78px;
}
.top_area {
	display: flex;
	align-items: end;
	justify-content: space-between;
	margin-bottom: 172px;
}
.testimonials_left {
	max-width: 766px;
	width: 100%;
}
.testimonials_right p {
	margin-bottom: 10px;
}
.testimonial_slider_wrap {
	margin-bottom: 122px;
}
.testimonial_slider_wrap .item {
	width: 378px;
	position: relative;
}
.content_wrap {
	width: 426px;
	height: 152px;
	background-color: #fff;
	position: absolute;
	bottom: 12px;
	padding: 24px 27px 20px 18px;
	right: 30px;
	overflow: hidden;
}
.content_wrap h3 {
	font-size: 20px;
}
.content_wrap h2 {
	color: var(--secondary);
	font-family: var(--secondary-font);
	font-size: 22px;
	font-weight: 400;
	line-height: 29px;
	margin: 8px 0px;
}
.content_wrap p {
	color: var(--secondary);
	font-family: var(--secondary-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.testimonials_content {
	width: 100%;
	height: 108px;
	position: absolute;
	left: 0px;
	top: 48px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 37.83%,
		#fff 85.53%
	);
}
.navigation_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.navigation_wrap .testimonial_prev,
.navigation_wrap .testimonial_next {
	width: 60px;
	height: 60px;
	background-color: var(--secondary);
	border-radius: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}
.navigation_wrap .testimonial_next {
	background-color: var(--primary);
}
/* ! Footer Area */
.contact_section_wrap {
	background-color: #fff;
	padding: 78px 0px 105px;
}
.contact_section {
	max-width: 1065px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.contact_left {
	max-width: 711px;
	width: 100%;
}
.contact_left a {
	color: var(--secondary);
	font-family: var(--secondary-font);
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 72px;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 200px;
}
.contact_left a img {
	position: absolute;
}
.footer_link_area {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 320px;
}
.footer_link_area .item {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding-left: 124px;
	transition: all 0.4s ease-in-out;
}
.footer_link_area .active {
	background-color: var(--primary);
}
.footer_link_area .item:hover {
	background-color: var(--primary);
	transition: all 0.4s ease-in-out;
}
.footer_link_area .item h2 {
	color: #fff;
	font-family: var(--primary-font);
	font-size: 68px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}
.footer_link_area .item p {
	color: #fff;
	font-family: var(--secondary-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.footer_link_area .active p,
.footer_link_area .active h2,
.footer_link_area .item:hover p,
.footer_link_area .item:hover h2 {
	color: var(--secondary);
	transition: all 0.4s ease-in-out;
}
.footer_link_area .item img {
	width: 43px;
	height: 47px;
	position: absolute;
	right: 170px;
	bottom: 115px;
	transition: all 0.4s ease-in-out;
}
.footer_link_area .item:hover img {
	width: 60px;
	height: 64px;
	right: 30px;
	bottom: 36px;
	transition: all 0.4s ease-in-out;
}
.footer_link_area .active img {
	width: 60px;
	height: 64px;
	right: 30px;
	bottom: 36px;
	transition: all 0.4s ease-in-out;
}
.footer_links {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 58px;
	background-color: #fff;
	padding: 19px 0px 17px;
}
.footer_links li a {
	color: var(--secondary);
	font-family: var(--secondary-font);
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
}
